
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('tlo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #66ccff;
}
.tip-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #66ccff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.tiply-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2e2e2e;
  color: #fff;
  padding: 12px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 0 15px #888;
  transition: background-color 0.3s;
}

.tiply-button:hover {
  background-color: #444;
}
